{% extends "skeleton.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<p>Welcome. This is the game portal for the summer 2013 Assassins game at Google's Cambridge campus.
<h3>Announcements</h3>
<ul>
  <li>Today's safety item is: a whole, full-sized<i> carrot</i>. (The vegetable.)</li>
</ul>
<h3>What is Assassins?</h3>
<p>Assassins is a live-action elimination game. Each player is assigned a target at the beginning of the game. The goal is to kill your target before you are eliminated by the assassin hunting you. For our game, the weapons of choice are spoons, poison cards, and <a href="//go/cheese">cheesing</a>. Eventually, there will only be 2 assassins left. The winner is the last assassin standing.</p>
<h3>How do I get started?</h3>
<p>All of this game's administration will happen over SMS (barring a cataclysmic system malfunction). Once you register your phone, we will it information about your target, game status, and the day's safety item.</p>
<ol>
  <li><a href="/rules.html">Read the rules &#8658;</a></li>
  <li><a href="/smscommands.html">Skim the SMS commands &#8658;</a></li>
  <li>Acquire the necessary weapons and safety items.</li>
  <li>Text <code>join &lt;<span class="sms-placeholder">ldap</span>&gt; &lt;<span class="sms-placeholder">alias</span>&gt;</code> to <b>+16178703381</b> (with your ldap and alias).</li>
  <li>Watch the game progress on the <a href="/gamestats.html">live game statistics page &#8658;</a></li>
</ol>
{% endblock %}
