{% extends "skeleton.html" %}
{% block head %}
<title>Scoreboard</title>
<script type="text/javascript">
function SBCtrl($scope, $http) {
    var getData = function() {
        $http({method:'GET', url:'/api/scoreboard'}).success(function(data) {
        $scope.players = data;
        });
    };
    getData();
    setInterval(getData, 10*1000);
}

</script>
{% endblock %}
{% block content %}
<div ng-controller="SBCtrl">
    <ul class="unstyled">
        <li ng-repeat="player in players">
        {% verbatim %}
        {{player.alias}} {{player.kill_count}} {{player.is_alive}}
        {% endverbatim %}
        </li>
    </ul>
</div>
{% endblock %}
